body {
    margin-top: 13px;
    background:linear-gradient(blue,blue,blue,darkblue);
  }
.mid{
  text-align: center;
}
section{
  background: linear-gradient(lightgoldenrodyellow,goldenrod);
  text-align:center;
  margin-top: 0px;
}
.hausverkur{
  color: lightgoldenrodyellow;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 960px;
  margin: 0 auto;
}

  .navigation ul {
    font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  .navigation li {
    display: inline-block;
  }
  .navigation a {
    background: #395870;
    background: linear-gradient(#3c9283, #3c75ee);
    border-right: 1px solid rgba(0, 0, 0, .3);
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
  }
  .navigation a:hover {
    background: #314b60;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
  }
  .navigation li:first-child a {
    border-radius: 4px 0 0 4px;
  }
  .navigation li:last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
  }
  .pila{
    position: fixed;
    bottom: 30px;
    right: 30px;

    background: whitesmoke;
    color: black;
    width: 70px;
    height: 70px;

    border-radius: 50%;

    text-align: center;
    font-size: 3em;
  }
  .bb{
    text-align: right;
  }